body {
  margin: 0;
}

.display-none {
  display: none;
}

.base {
  position: relative;  
  width: 100%;
  aspect-ratio: 1920/2687;
  background-image: url(mid_1080p/base.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 15%;
  overflow: hidden; 
}
.top-text {
  position: absolute;
  bottom: 93%;
  margin: 0;
  font-family: 'GrandifloraOne';
  color: #3d3223;
  text-transform: uppercase;
  z-index: 12;
}
.sub-image {
  position: absolute;
  translate: -50% -50%;
  z-index: 6;
  pointer-events: none;
}
.fadey {
  transition: opacity 450ms;
  pointer-events: auto;
}
.fadey:hover {opacity: 0.15;}
.fadey:focus {opacity: 0.15;}

#toptext-left {
  left: 13.5%;
  font-size: 30px;
  background-color: #efe3cd;
}
#toptext-centre {
  left: 50%;
  font-size: 45px;
  translate: -50%;
  background-color: #f0e3d2;
}
#toptext-right {
  right: 13.5%;
  font-size: 30px;
  background-color: #f6e7d5;
}

#s008-000 {  
  left: 49.8%; top: 24.54%; width: 32%;
}
#s008-001 {  
  left: 49.8%; top: 24.54%; width: 46%;
  animation: spin 240s linear infinite;
}

#s002 {      
  left: 86.24%;  top: 23.42%;  width: 26.3%;
  animation: spin 120s linear infinite reverse;
}
#s004 {    
  left: 13.8%;  top: 23.8%;  width: 26%;
  animation: spin 120s linear infinite reverse;
}

#s005-000 {    
  left: 26.2%;  top: 40%;  width: 15%;
}
#s005-001 {    
  left: 26.2%;  top: 40.03%;  width: 25.5%;
  transition: rotate 420ms;
}

#s006-000 {    
  left: 73.9%;  top: 39.8%;  width: 18.9%;
}
#s006-001 {      
  left: 73.9%;  top: 39.8%;  width: 25.5%;
  transition: rotate 420ms;
}

#s007-000 {  
  left: 50%;  top: 48.8%;  width: 22.3%;
}
#s007-001 {  
  left: 50%;  top: 48.8%;  width: 28%;
  animation: spin 120s linear infinite reverse;
}

#borderleft {
  position: absolute;
  left: 0; top: 0;   width: 13.52%;
  z-index: 9;
}
#borderright {  
  position: absolute;
  right: 0;  top: 0;    width: 13.52%;
  z-index: 9;
}