#loady {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #35524c;
  scale: 6;
  transition: scale 1500ms 300ms;
  z-index: 27;
  translate: -50% -50%;
  left: 49.8%; top: 23.9%;
  width: 81%;
  @media (min-width: 720px) {
    left: 49.8%; top: 24.6%;
    width: 30%
  }
}
#loady-text {
  position: absolute;
  left: 50%; top: 6.6%;
  translate: -50%;
  color: #6cac85;
  font-style: oblique;
  transition: color 600ms 750ms;
  animation: pulse 1200ms ease-in-out alternate 1200ms infinite;
  z-index: 28;
  @media (min-width: 720px) {
    font-size: 48px;
  }
}

.base {
  @media (min-width: 720px) {
    background-image: url(assets/mid_1080p/base.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 15%;
  }
}
.base, .baseless {
  position: relative;  
  width: 100%;
  aspect-ratio: 360/1230;
  background-color: #efe3cd;
  left: 50%;
  translate: -50%;
  overflow: hidden;
  @media (min-width: 720px) {
    perspective: 3000px;
    perspective-origin: center 18%;
    aspect-ratio: 1920/2687;
    max-width: 1920px;
    @media (max-width: 1260px) {
      width: 135%;
      left: 50%;
      translate: -50%;
    }
  }
}
.top-text {
  position: absolute;
  bottom: 93%;
  margin: 0;
  z-index: 12;
}
.top-dec {
  position: absolute;
  right: -36%; top: 45%;
  height: 12px; width: 30%;
  border-top: #3d3223 1px solid;
  border-bottom: #3d3223 1px solid;
  pointer-events: none;
}
.top-dec-l {
  scale: -1; 
  left: -36%;
}
.top-dec--sp1, .top-dec--sp2 {
  position: absolute;
  left: 0;  top: 12px;
  translate: -60%;
  height: 15px;
}
.top-dec--sp2 {
  transform: scaleY(-1);
  top: -15px;
}

.ringc {
  position: absolute;
  translate: -50% -50%;
  aspect-ratio: 1/1;
  overflow: hidden; 
  z-index: 5;
}
.ringc--ring {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 6;
  transition: rotate 420ms;
}
.ringc--circle {
  position: absolute;
  top: 50%; left: 50%;
  translate: -50% -50%;
  transition: opacity 600ms;
  pointer-events: auto;
  z-index: 6;
}
.ringc--heading {
  position: absolute;
  top: 50%; left: 50%;
  translate: -50% -50%;
  width: 90%;
  z-index: 5;
  margin: 0;
  font-family: 'ElsieSwashCaps', serif;  
  font-size: 39px;
  color: #b35a41;
  text-transform: uppercase;
  text-align: center;
  border-top: #b35a41 3px solid;
  border-bottom: #b35a41 3px solid;
  @media (min-width: 720px) {
    font-size: 4.5vw;
    @media (min-width: 1920px) { font-size: 90px;}
  }
}
.ringc--link {
  position: absolute;
  left: 50%;
  margin: 3% 0;
  translate: -50% -50%;
  font-family: 'GrandifloraOne', serif;
  font-weight: bold;
  text-align: center;
  color: #24292c;
  opacity: 0;
  transition: opacity 450ms;
  z-index: 15;
  @media (min-width: 720px) {
    font-size: 1.5vw;      
    @media (min-width: 1920px) { font-size: 30px;}
  }
}
.ringc--link img {width: 100%;}
.ringc:hover .ringc--circle {opacity: 0.09 !important;}
.ringc:focus .ringc--circle {
  opacity: 0.09 !important;
  border: #385c70 3px solid;
  border-radius: 100%;
}
.ringc:hover .ringc--link {opacity: 0.9;}
.ringc--link:focus {opacity: 0.9;}

.sub-image {
  position: absolute;
  translate: -50% -50%;
  z-index: 6;
  pointer-events: none;
}

.centre-image {  
  left: 49.8%; top: 23.9%; width: 84%;
  z-index: 30;
  aspect-ratio: 1/1;
  
  @media (min-width: 720px) {
    left: 49.87%; top: 24.8%; width: 32%;
  }
}

.flip {
  transition: transform 1800ms;  
  /*transform-style: preserve-3d;*/
  transform: rotateY(0deg);
  pointer-events: all;
}
.flip--back, .flip--front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  top: 0; left: 0;
  pointer-events: none;
}
.flip--back {transform: rotateY(180deg);}

.pagey {
  position: absolute;
  left: 0; top: 7.75%; 
  width: 100%; height: 92.25%;
  border: #3d322396 1.5px solid;
  background-color: #ece5d6;
  z-index: 12;
  @media (min-width: 720px) {
    left: 13.52%; top: 7.75%; 
    width: 72.96%; height: 81.25%;    
  }
}
.content--container {
  position: absolute;
  width: 87%; height: 48%;
  top: 30%; left: 6%;
  border: #3d322396 1.5px solid;
  @media (min-width: 720px) {
    width: 90%;
    left: 5%;   
  }
}
.content {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  align-items: flex-start;  
  align-content: flex-start;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
}
.content--subtitle {
  flex: 100%;
  max-width: 100%;
  text-decoration: underline #3d322396 1px;
}
.content * {box-sizing: border-box;}
.content--column {
  flex: 100%;
  max-width: 96%;
  @media (min-width: 720px) {
    flex: 50%;
    max-width: 48%;
  }
}
.content--element {
  display: block;
  width: 100%; height: auto;
  min-height: 30px;
  margin-bottom: 12px;
  overflow: hidden;
  opacity: 0; scale: 0.6;
  transition: opacity 600ms, scale 600ms ease-out, color 150ms, background-color 150ms;
}
.content--spiral {
  position: absolute;
  height: 33px;
  pointer-events: none;
}
.spiral-tl {
  top: -33px; left: -20px;
  transform: scaleY(-1);
}
.spiral-tr {
  top: -33px; right: -20px;
  scale: -1;
}
.spiral-bl {
  bottom: -33px; left: -20px;
}
.spiral-br {
  bottom: -33px; right: -20px;
  transform: scaleX(-1);
}