@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}   
}
@keyframes pulse {
    from {opacity: 1;}
    to {opacity: 0.6;}   
}
@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}
@keyframes spin3 {
    from {rotate: 0deg;}
    to {rotate: 1080deg;}
}

@font-face {
    font-family: 'GrandifloraOne';
    src: url(assets/GrandifloraOne-Reduced.ttf);
}
@font-face {
    font-family: 'YesevaOne';
    src: url(assets/YesevaOne-Regular.ttf);
}
@font-face {
    font-family: 'ElsieSwashCaps';
    src: url(assets/ElsieSwashCaps-Black.ttf);
}

h1, h2, h4 {
    font-family: 'GrandifloraOne';
    font-weight: 100;
    font-size: 30px;
    color: #3d3223;
    text-transform: uppercase;
    text-align: center;
}
h5 {
    font-family: 'ElsieSwashCaps', serif;
    font-weight: 300;
    font-size: 27px;
    text-align: center;
}
p {    
    font-family: 'GrandifloraOne';
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #35524c;
    transition: background-color 900ms 720ms;
}
button {
    background: none;
    border: none;
}
a, button {
    text-decoration: none;
    cursor: pointer;
}
a:hover {text-decoration: underline;}
iframe {border: none;}


.flexwrap {
    display: flex;
    flex-wrap: wrap;
  }